body {
    background-color: blue;
}

.nav {
    border-color: black;
    float: right;
    margin: 25px;
}

.div-form {
    text-align: center;
    margin-top: 300;
    margin-bottom: 100;
    margin-right: 100;
    margin-left: 100;
}

button {
    background-color: blue;
    
}

.div-

body {
    background-color: blue;
}